---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import PrevNextBlogPost from '../components/PrevNextBlogPost.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
				padding: 2rem;
			}
			.hero-image img {
				display: block;
				border-radius: 12px;
				width: calc(100% - 4rem);
			}
			.prose {
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 2em;
				color: var(--white);
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
			}
			.last-updated-on {
				font-style: italic;
			}

			article {
				background: var(--black);
				color: var(--white);

				position: relative;
				width: 960px;;
				margin: auto;

			}

			.rainbow {
				height: 50px;
				width: 100%;
			}
			.rainbow .rainbow-line {
				height: 10px;
			}

			.content {
				background: var(--white);
				color: var(--black);
				border-radius: 8px;
				padding: 1rem;
				background-image: linear-gradient(to bottom, rgba(0, 0, 0, 5%) 1px, transparent 1px);
				background-size: 100% 27px;
			}

			@media (max-width: 720px) {
				article {
					width: 100%;
				}
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="title">
					<div class="date">
						{pubDate && <FormattedDate date={pubDate} />}
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<h1>{title}</h1>
					<div class="rainbow">
						<div class="rainbow-line rainbow-cyan"></div>
						<div class="rainbow-line rainbow-rose"></div>
						<div class="rainbow-line rainbow-orange"></div>
						<div class="rainbow-line rainbow-yellow"></div>
					</div>
				</div>
				<div class="prose">

					<div class="content">
					<slot />
					</div>
				</div>
			</article>
			<PrevNextBlogPost />
		</main>
		<Footer />
	</body>
</html>
